body {
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}


.description {
    width: 100vw;
    background: black;
    text-align: center;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}

::placeholder {
    font-size: 20px;
    opacity: 1; /* Firefox */
  }
  
.search-icon {
    width:50px;
    height: auto;
    margin: 20px 20px;
}

li {
    background: white;
    list-style: none;
    border-bottom: 1px solid #D8D8D8;
    margin: 0;
    padding: 5px 25px;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}

.selection{
    text-align: center;
    align-content: center;
    width: 30vw;
}
